    <%- js('https://cdn.polyfill.io/v2/polyfill.js?features=es6') %>
    <!-- <div id="uyan_frame"></div>
    <%- js('//cdn.bootcss.com/moment.js/2.19.2/moment-with-locales.min.js') %>
    <%- js('https://imsun.github.io/gitment/dist/gitment.browser.js') %>
    <%- js('js/myTheme.js?rev=@@hash') %>
    <script>
      if(typeof(Array.prototype.includes)==="function" && window.location.href.indexOf('github')>0){
        var gitment = new Gitment({
            id: window.location.pathname,
            owner: "<%= theme.gitment.owner%>",
            repo: "<%= theme.gitment.repo%>",
            oauth: {
              client_id: "<%= theme.gitment.client_id%>",
              client_secret: "<%= theme.gitment.client_secret%>"
            },
            perPage: "<%= theme.gitment.perPage%>",
            theme: myTheme
          });
          gitment.render('comments');
      }else if(window.location.href.indexOf('coding')>0){
        var newScript = document.createElement('script');
        newScript.type = 'text/javascript';
        newScript.src = 'http://v2.uyan.cc/code/uyan.js?uid=<%= theme.uyan.uyan_id%>',
        uyan_frame = document.getElementById('uyan_frame'),
        parent = uyan_frame.parentNode;
        parent.insertBefore(newScript,uyan_frame.nextSibling);
      }
    </script> -->

    <!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cytkV6dkL'; 
var conf = 'prod_7821510244918b408e73a4b96d3fe8bf'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>